<h1>Ruby Instagram Gem Sample Application</h1>
    <ol>
      <li><a href='/user_recent_media'>User Recent Media</a> Calls user_recent_media - Get a list of a user's most recent media</li>
      <li><a href='/user_follows'>Who User Follows</a> Calls user_follows - Get a list of who a user follows</li>
    </ol>